.grid-container {
  display: grid;
  grid-template-columns: 0.75fr 2fr;
  position: absolute;
  margin-left: 80px;
  top: 40px;
  background: #ffffff;
  width: 90%;
} 

.chat-area-container {
  /* background: red; */
}

.side-area-container {
  /* background: black; */
}

.profile-container {
  padding: 10px;
  border: 1px solid #F0F2F5;
}

.header-container{
  width: 100%;
  height: 120px;
  background: #35a16b;
}